.evolutions-container {
  padding: 1.5rem;
}

.evolutions-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.evolutions-title {
  font-size: 3rem;
  font-weight: bold;
  margin: 0 1rem 0 0;
}

.patient-select {
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 0.4rem;
}

.patient-name {
  font-size: 1.25rem;
  font-weight: 500;
  background: #e8e8e8;
  padding: 0.4rem 0.8rem;
  border-radius: 0.4rem;
}

.evolutions {
    width: 100%;
    display: flex;
}

.waiting-msg {
  font-size: 1rem;
  color: #888;
  margin: 2rem 0 2rem 0;
}

.timeline {
  position: relative;
  margin-top: 2rem;
  padding-left: 3rem;
}

.timeline-line {
  position: relative;
  top: 0;
  left: 2.2rem;
  width: 4px;
  background-color: #2196f3;
  z-index: 0;
  border-radius: 2px;
}

.evolution-block {
  display: flex;
  align-items: flex-start;
  position: relative;
  margin-bottom: 3rem;
}

.timeline-marker-wrapper {
  width: 0;
  position: relative;
  z-index: 2;
}

.timeline-marker {
  width: 18px;
  height: 18px;
  background: #2196f3;
  border-radius: 50%;
  border: 4px solid #fff;
  box-shadow: 0 0 0 2px #2196f3;
  position: absolute;
  left: -9px; /* Centra el círculo sobre la línea */
  top: 0;
}

.evolution-content {
  margin-left: 2.5rem;
}

.evolution-title {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.2rem;
}

.evolution-date {
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 0.8rem;
}

.images-wrapper {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  margin-bottom: 0.5rem;
}

.evolution-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  cursor: pointer;
  border-radius: 0.4rem;
  background: #fff;
  border: 1px solid #ccc;
}

.evolution-note {
  font-style: italic;
  color: #444;
}

.full-image {
  max-width: 100%;
  max-height: 80vh;
  display: block;
  margin: auto;
  border-radius: 1rem;
}