.navbar {
  display: flex;
  align-items: center;
  padding: 1vh 1vw;
  border-radius: 1rem;
  background: #fff;
  margin: 1rem;
}


.navbar__logo {
  height: 4rem;
  cursor: pointer;
}

.navbar__btn--option,
.navbar__btn--login {
  text-decoration: none;
}

.navbar__options {
  display: flex;
  justify-content: center;
  gap: 0 2vw;
  padding: 0 6vw;
  flex-grow: 1;
}

.navbar__btn--option {
  color: #21bbef;
  font-size: 1.25rem;

  &:hover {
    filter: brightness(1.15);
  }
}

.navbar__btn--login {
  background-color: #fff;
  color: #000;
  padding: 0.5rem;
  border: 1px solid #000;
  border-radius: 0.5rem;
  margin: 0 2vw;
  transition: background-color 0.5s ease;

  &:hover {
    background-color: #eee;
  }
}

@keyframes aparecer {
  from {
    opacity: 0;
    transform: translateY(-20%);
  }
  to {
    opacity: 1;
    transform: translate(0%);
  }
}