@font-face {
  font-family: "Raleway";
  src: url("/fonts/Raleway.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: "Raleway", sans-serif;
}

body {
  background-color: #f2f0eb;
}

.link {
  text-decoration: none;
  color: #000
}

button {
  cursor: pointer;
}