.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2vw 0 1vw;
  background: linear-gradient(rgb(0, 0, 128), rgba(0, 0, 128, 0.7));
}

.navbar__options--mobile {
  display: none;
}

.navbar__btn--burger {
  display: none;
}

.navbar__btn--login {
  border-radius: 100px;
  display: flex;
  align-items: center;
  padding: 1vh 1vw;
  transition: background 0.3s;
	text-decoration: none;
	color: black;
  background-color: rgba(188, 195, 211, 0.8);
}


/*~•~•~•~•~•~•~•~•~•~•~•~•~•~•~•~•~•~•~•~•~•~•~•~•~•~•~•~•~•~•~•~•~•~•~•~•*/
/* Responsive para mobile + tablet */

@media (max-width: 900px) {

.navbar__options--desktop {
  display: none;
}

.navbar__btn--burger {
  display: inline;
  width: 8vw;
  padding: 0.5vw;
}

.navbar__logo {
  width: 15vw;
  cursor: pointer;
}

.navbar__options--mobile {
  display: none;
  flex-direction: column;
  position: fixed;
  z-index: 1;
  top: 0%;
  left: 70%;
  width: 30%;
  height: 100%;
  background-color: #df3830f8;
  &.open {
    display: flex;
  }
}

.navbar__options--mobile .navbar__btn--option {
  display: flex;
  align-items: flex-start;
  color: rgba(188, 202, 211, 0.8);
  text-decoration: none;
  font-size: 1.5em;
  background: none;
  transition: background 0.15s ease;
  padding: 2vh 2vw;
  &:active {
    filter: brightness(1.1);
    background-color: #df3830;
  }
}

.navbar__btn--login {
  margin: 3vh 2vw;
  justify-content: center;
  gap: 2vw;
  font-size: 1.5rem;
  transition: background 0.15s ease;
  &:active {
    background-color: #c7d7ed;
  }
}
.loginModal {
  top: 40%;
}

}

/*~•~•~•~•~•~•~•~•~•~•~•~•~•~•~•~•~•~•~•~•~•~•~•~•~•~•~•~•~•~•~•~•~•~•~•~•*/

/* Responsive para computador */
@media (min-width: 901px) {
.navbar {
  background-size: 20% 100%;
}

.navbar__logo {
	margin: 1.5vh 0;
  width: 5.5vw;
  cursor: pointer;
}

.navbar__options--desktop {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10vw;
}

.navbar__options--desktop .navbar__btn--option {
  color: rgba(188, 202, 211, 0.8);
  text-decoration: none;
  font-size: 1.5em;
  background: none;
  &:hover {
    filter: brightness(1.1);
  }
}

.navbar__btn--login {
  gap: 1vw;
  font-size: 1.25em;
  &:hover {
    background-color: #c7d7ed;
  }
}

.loginModal {
  top: 10%;
  right: 1%;
  width: 20%;
}

.loginModal__btn--login:hover {
  color: #4d5e3b;
  transform: scale(1.05);
}

.loginModal__btn--signup:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px 2px #4d5e3b4f;
}
}

/*~•~•~•~•~•~•~•~•~•~•~•~•~•~•~•~•~•~•~•~•~•~•~•~•~•~•~•~•~•~•~•~•~•~•~•~•*/

@keyframes aparecer {
  from {
    opacity: 0;
    transform: translateY(-20%);
  }
  to {
    opacity: 1;
    transform: translate(0%);
  }
}