.modal-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.form-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;

  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.form-grid-three {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;

  @media (min-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.form-grid-two {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;

  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
  }
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-label {
  font-size: 0.875rem;
  font-weight: 500;
  color: #374151;
  margin-bottom: 0.25rem;

  &-alert {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
}

.required {
  color: #ef4444;
}

.alert-icon {
  width: 1rem;
  height: 1rem;
  color: #f97316;
}

.form-selects {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #d1d5db;
  border-radius: 0.5rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  font-size: 0.875rem;
  color: #1f2937;

  padding-left: 2.5rem;

  &:focus {
    border: 1px solid #3b82f6; // o el color que desees
    outline: none;
  }
}

.form-textarea {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #d1d5db;
  border-radius: 0.5rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  font-size: 0.875rem;
  color: #1f2937;
  resize: vertical;

  &:focus {
    border-color: #3b82f6;
    box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.3);
    outline: none;
  }
}

.age-display {
  padding: 0.5rem 0.75rem;
  background-color: #f9fafb;
  border: 1px solid #d1d5db;
  border-radius: 0.5rem;
  color: #374151;
}

.form-actions {
  display: flex;
  gap: 0.75rem;
  padding-top: 1rem;

  .submit-button {
    flex: 1;
  }
}

.input-with-icon {
  padding-left: 2.5rem;
}

.select-wrapper {
  position: relative;

  .select-icon {
    position: absolute;
    left: 0.75rem;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;

    .icon {
      width: 20px;
      height: 20px;
      color: #9ca3af;
      display: flex;
    }
  }
}
