.aboutUs {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weAreTheBest {
    display: flex;
    flex-wrap: wrap;
    margin: 2rem 1rem;
}

.weAreTheBest__info {
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 0 5%;

    & > h2 {
        font-size: 3em;
        font-weight: bold;
        margin: 2rem 0;

        & > span {
            color: #008fff;
        }
    }
    & > p {
        color: #a0a0a0;
        margin-bottom: 2.5rem;
    }
}

.weAreTheBest__photo {
    width: 40%;
    padding: 0 5%;
}

.weAreTheBest__imageContainer {
    display: flex;
    justify-content: center;
    overflow: hidden;
    border-radius: 24px;
}

.weAreTheBest__forYou {
    display: inline;
    background-color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 100px;
    width: fit-content;

    & span {
        margin-left: 0.5rem;
    }
}

.weAreTheBest__info--btns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.exploreOurServices {
    text-decoration: none;
    background-color: #008fff;
    color: #fffacd;
    padding: 0.5rem 1rem;
    border-radius: 100px;
    transition: transform 0.5s ease,
                background-color 0.5s ease,
                color 0.5s ease;

    &:hover {
        transform: scale(1.1);
        background-color: #44aeff;
        color: #fffad1;
    }
}

.videoAboutUs__btn {
    background: none;
    padding: 0.5rem 1rem;
    border: 1px solid #000;
    border-radius: 100px;
    transition: background-color 0.3s ease;
    
    & > i {
        margin-right: 1rem;
    }

    &:hover {
        background-color: #c2c0bb;
    }
}



.scheduleAppointment {
    background: linear-gradient(#f2f0eb, #fff);
    width: 100%;
    display: flex;
    justify-content: center;
}

.scheduleAppointment__btn {
    background-color: #0040ff;
    color: #fff;
    font-size: 1rem;
    width: fit-content;
    padding: 0.5rem 4rem;
    border-radius: 100px;
    transition: transform 0.5s ease,
                background-color 0.5s ease;

    &:hover {
        background-color: #004fff;
        transform: scale(1.1);
    }

}



.infoAboutUs {
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    margin: 0 1rem 0 1rem;
    width: 100%;
}

.infoAboutUs__imgContainer {
    display: flex;
    justify-content: center;
    width: 50%;
    height: 100%;
    box-sizing: border-box;

    & img {
        object-fit: fill;
    }
}


.infoAboutUs__info {
    padding: 1em 0;
    width: 50%;

    & > h3 {
        font-size: 2rem;
        color: #888;
        margin: 1.5rem 0;
    }

    & > h2 {
        font-size: 3rem;
        margin-bottom: 1rem;
        
        & span {
            color: #008fff;
        }
    }
    & p {
        color: #444;
        padding-right: 1rem;
        margin-bottom: 1rem;
    }
    & > h4 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }
}
